<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SaveNotes</servlet-name>
  	<display-name>SaveNotes</display-name>
  	<description></description>
  	<servlet-class>Servalate.SaveNotes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletNote</servlet-name>
  	<display-name>DeletNote</display-name>
  	<description></description>
  	<servlet-class>Servalate.DeletNote</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateNotes</servlet-name>
  	<display-name>UpdateNotes</display-name>
  	<description></description>
  	<servlet-class>Servalate.UpdateNotes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>Servalate.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>Servalate.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginAuth</servlet-name>
  	<display-name>LoginAuth</display-name>
  	<description></description>
  	<servlet-class>Servalate.LoginAuth</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>Servalate.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutPage</servlet-name>
  	<display-name>LogoutPage</display-name>
  	<description></description>
  	<servlet-class>Servalate.LogoutPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DestroySession</servlet-name>
  	<display-name>DestroySession</display-name>
  	<description></description>
  	<servlet-class>Servalate.DestroySession</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OpenNotes</servlet-name>
  	<display-name>OpenNotes</display-name>
  	<description></description>
  	<servlet-class>Servalate.OpenNotes</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveNotes</servlet-name>
  	<url-pattern>/SaveNotes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletNote</servlet-name>
  	<url-pattern>/DeletNote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateNotes</servlet-name>
  	<url-pattern>/UpdateNotes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginAuth</servlet-name>
  	<url-pattern>/LoginAuth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutPage</servlet-name>
  	<url-pattern>/LogoutPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DestroySession</servlet-name>
  	<url-pattern>/DestroySession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OpenNotes</servlet-name>
  	<url-pattern>/OpenNotes</url-pattern>
  </servlet-mapping>
</web-app>
